<div class="well">
	<p class="title"><%= link_to @post.title,  @post %></p>
	<i><span class="timestamp">
		<%= link_to @post.user.name, @post.user %> posted <%= time_ago_in_words(@post.created_at) %> ago
	</span></i>
	<p><%= @post.content.truncate(300) %></p>
	  <% if current_user?(@post.user) %>
	  	<i style="float: left">
	  		<%= link_to "Edit", edit_entry_path(@post),:title =>"Edit", :style=>'color: green' %>
	  		&nbsp;
        	<%= link_to "Delete", @post, method: :delete,
                                         data: { confirm: "You sure?" }, :title =>"Delete", :style=>'color: red' %>
	  	</i>
	  <% end %>
</div>
