<%= form_for(:comment, url: comments_path, remote: true) do |f| %>
  <div class="field">
  	<%= hidden_field_tag :entry_id, entry.id %>
  	
  	<% if logged_in? %>
    <%= gravatar_for(current_user, size: 40) %>
    <% end %>
    <%= f.text_field :content, placeholder: "write a comment..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>